
<% action_url = sub.persisted? ? sub_url(sub) : subs_url %>
<% action_method = sub.persisted? ? "PATCH" : "POST" %>
<% button_text = sub.persisted? ? "Update Sub" : "Create Sub" %>


<form action="<%= action_url %>" method="post">

  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
  <input type="hidden" name="_method" value="<%= action_method %>">

  <p>
    <label for="title">Title:
      <input type="text" name="sub[title]" value="<%= sub.title %>">
    </label>
  </p>

  <p>
    <label for="description">Description:
      <textarea name="sub[description]"><%= sub.description%></textarea>
    </label>
  </p>

  <p>
    <input type="submit" value="<%= button_text %>">
  </p>

</form>
